In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('first1.csv')
df1 = pd.read_csv('second1.csv')
df2 = pd.read_csv('third1.csv')
df3 = pd.read_csv('fourth1.csv')
df4 = pd.read_csv('fifth1.csv')
df5 = pd.read_csv('sixth1.csv')
df6 = pd.read_csv('seventh1.csv')
df7 = pd.read_csv('eight1.csv')
df8 = pd.read_csv('ninth1.csv')
df9 = pd.read_csv('tenth1.csv')
df10 = pd.read_csv('eleventh1.csv')
df11 = pd.read_csv('twelve1.csv')
df12 = pd.read_csv('thirteen1.csv')

In [3]:
df['Year,month'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m')
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['days_month'] = df['date'].dt.daysinmonth
 

df1['Year,month'] = pd.to_datetime(df1['date']).dt.strftime('%Y-%m')
df1['date'] = pd.to_datetime(df1['date'], errors='coerce')
df1['days_month'] = df1['date'].dt.daysinmonth

df2['Year,month'] = pd.to_datetime(df2['date']).dt.strftime('%Y-%m')
df2['date'] = pd.to_datetime(df2['date'], errors='coerce')
df2['days_month'] = df2['date'].dt.daysinmonth

df3['Year,month'] = pd.to_datetime(df3['date']).dt.strftime('%Y-%m')
df3['date'] = pd.to_datetime(df3['date'], errors='coerce')
df3['days_month'] = df3['date'].dt.daysinmonth

df4['Year,month'] = pd.to_datetime(df4['date']).dt.strftime('%Y-%m')
df4['date'] = pd.to_datetime(df4['date'], errors='coerce')
df4['days_month'] = df4['date'].dt.daysinmonth

df5['Year,month'] = pd.to_datetime(df5['date']).dt.strftime('%Y-%m')
df5['date'] = pd.to_datetime(df5['date'], errors='coerce')
df5['days_month'] = df5['date'].dt.daysinmonth

df6['Year,month'] = pd.to_datetime(df6['date']).dt.strftime('%Y-%m')
df6['date'] = pd.to_datetime(df6['date'], errors='coerce')
df6['days_month'] = df6['date'].dt.daysinmonth

df7['Year,month'] = pd.to_datetime(df7['date']).dt.strftime('%Y-%m')
df7['date'] = pd.to_datetime(df7['date'], errors='coerce')
df7['days_month'] = df7['date'].dt.daysinmonth

df8['Year,month'] = pd.to_datetime(df8['date']).dt.strftime('%Y-%m')
df8['date'] = pd.to_datetime(df8['date'], errors='coerce')
df8['days_month'] = df8['date'].dt.daysinmonth

df9['Year,month'] = pd.to_datetime(df9['date']).dt.strftime('%Y-%m')
df9['date'] = pd.to_datetime(df9['date'], errors='coerce')
df9['days_month'] = df9['date'].dt.daysinmonth

df10['Year,month'] = pd.to_datetime(df10['date']).dt.strftime('%Y-%m')
df10['date'] = pd.to_datetime(df10['date'], errors='coerce')
df10['days_month'] = df10['date'].dt.daysinmonth

df11['Year,month'] = pd.to_datetime(df11['date']).dt.strftime('%Y-%m')
df11['date'] = pd.to_datetime(df11['date'], errors='coerce')
df11['days_month'] = df11['date'].dt.daysinmonth

df12['Year,month'] = pd.to_datetime(df12['date']).dt.strftime('%Y-%m')
df12['date'] = pd.to_datetime(df12['date'], errors='coerce')
df12['days_month'] = df12['date'].dt.daysinmonth

In [4]:
df['Avg_leads'] = (df['sumOfLeads']/df['days_month'])
df1['Lead_per_ad'] = (df1['sumOfLeads']/df1['ad_id'])
df2['Avg_leads'] = (df2['sumOfLeads']/df2['days_month'])
df3['Lead_per_ad'] = (df3['sumOfLeads']/df3['ad_id'])
df4['Avg_leads'] = (df4['sumOfLeads']/df4['days_month'])
df5['Lead_per_ad'] = (df5['sumOfLeads']/df5['ad_id'])
df6['Avg_leads'] = (df6['sumOfLeads']/df6['days_month'])
df7['Lead_per_ad'] = (df7['sumOfLeads']/df7['ad_id'])
df8['Avg_leads'] = (df8['sumOfLeads']/df8['days_month'])
df9['Avg_leads'] = (df9['sumOfLeads']/df9['days_month'])
df10['Lead_per_ad'] = (df10['sumOfLeads']/df10['ad_id'])
df11['Avg_leads'] = (df11['sumOfLeads']/df11['days_month'])
df12['Lead_per_ad'] = (df12['sumOfLeads']/df12['ad_id'])

In [5]:
t1  = df.drop(columns = ['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t2  = df1.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t3  = df2.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t4  = df3.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t5  = df4.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t6  = df5.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t7  = df6.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t8  = df7.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t9  = df8.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t10 = df9.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t11 = df10.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t12 = df11.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)
t13 = df12.drop(columns =['days_month', 'sumOfLeads','Year,month','month','date'],axis =1)

In [6]:
table1=t1.groupby(['year','platform']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table1

                 Avg_leads
year platform
2019 Android     19.023586
     Desktop      9.590307
     Mobile Web  11.631451
     iOS          6.411454
2020 Android     18.084519
     Desktop      7.713508
     Mobile Web  11.399908
     iOS          5.927535
2021 Android      5.169596
     Desktop      1.460181
     Mobile Web   2.340170
     iOS          1.247786

In [7]:
table2=t2.groupby(['year','platform']).agg({'Lead_per_ad': pd.Series.sum})[["Lead_per_ad"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table2

                 Lead_per_ad
year platform
2019 Android       11.470409
     Desktop        9.645614
     Mobile Web    11.072625
     iOS           13.014093
2020 Android       11.477504
     Desktop        9.722455
     Mobile Web    11.216119
     iOS           11.641890
2021 Android        3.367603
     Desktop        2.272706
     Mobile Web     2.590923
     iOS            2.508059

In [8]:
table3=t3.groupby(['year','channel_grouping']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table3

                       Avg_leads
year channel_grouping
2019 (Other)            0.081581
     Direct             1.263540
     Display            0.006566
     Organic Search     2.005652
     Paid Search        0.628750
     Referral           0.218833
     Social             0.033759
2020 Social             0.236753
     Referral           2.383637
     Paid Search        7.577851
     Organic Search    24.319611
     Display            0.425247
     Direct            24.318579
     (Other)           12.232823
     Email              0.051209
2021 Referral           0.400827
     (Other)            8.321751
     Direct             7.538179
     Display            0.296156
     Email              0.007384
     Organic Search     4.984612
     Paid Search        2.629760
     Social             0.036941

In [9]:
table4=t4.groupby(['year','channel_grouping']).agg({'Lead_per_ad': pd.Series.sum})[["Lead_per_ad"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table4

                       Lead_per_ad
year channel_grouping
2019 (Other)              1.082318
     Direct               1.239714
     Display              1.047143
     Organic Search       1.232628
     Paid Search          1.412172
     Referral             1.246191
     Social               1.154931
2020 Social               8.472576
     Referral             9.755685
     Paid Search          9.433716
     Organic Search       9.963638
     Display              8.737830
     Direct              10.059336
     (Other)              8.707511
     Email                7.631651
2021 Referral             2.170528
     (Other)              2.938103
     Direct               2.846393
     Display              1.994751
     Email                2.107457
     Organic Search       2.339574
     Paid Search          2.419601
     Social               2.006554

In [10]:
table5=t5.groupby(['year','vertical']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table5

                 Avg_leads
year vertical
2019 Auto        15.089094
     Generalist  14.821491
     Jobs         2.895887
     Property    13.075988
     Services     0.774725
2020 Auto        13.885644
     Generalist  14.320827
     Jobs         2.272338
     Property    12.138760
     Services     0.507613
2021 Auto         3.671773
     Generalist   2.800927
     Jobs         0.396478
     Property     3.268179
     Services     0.080277

In [11]:
table6=t6.groupby(['year','vertical']).agg({'Lead_per_ad': pd.Series.sum})[["Lead_per_ad"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table6

                 Lead_per_ad
year vertical
2019 Auto           7.562818
     Generalist     8.033576
     Jobs          14.985865
     Property       7.306514
     Services       6.375679
2020 Auto           7.461959
     Generalist     8.293260
     Jobs          15.994889
     Property       7.182451
     Services       6.315795
2021 Auto           2.011888
     Generalist     1.972505
     Jobs           3.025986
     Property       1.961038
     Services       1.515779

In [12]:
table7=t7.groupby(['year','seller_type']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table7

                  Avg_leads
year seller_type
2019 Private      24.351735
     Pro          22.305470
2020 Private      22.701364
     Pro          20.423801
2021 Private       5.068552
     Pro           5.149078

In [13]:
table8=t8.groupby(['year','seller_type']).agg({'Lead_per_ad': pd.Series.sum})[["Lead_per_ad"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table8

                  Lead_per_ad
year seller_type
2019 Private        21.405578
     Pro            22.653042
2020 Private        22.662926
     Pro            22.528278
2021 Private         5.574442
     Pro             5.175734

In [14]:
table9=t9.groupby(['year','reply_type']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table9

                          Avg_leads
year reply_type
2019 apply_now             0.051142
     call                 32.984636
     call/sms              0.001821
     chat                  8.201292
     email                 1.010893
     show_contact_number   0.947222
     sms                   3.459791
2020 sms                   2.962551
     show_contact_number  15.380768
     email                 0.800875
     chat                  9.235544
     call                 14.342672
     apply_now             0.403061
2021 apply_now             0.052736
     call                  2.072320
     chat                  2.001208
     email                 0.198188
     show_contact_number   5.216263
     sms                   0.677018

In [15]:
table10=t10.groupby(['year','subcategory']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table10

                                       Avg_leads
year subcategory
2019 Accessories for Phones & Gadgets   0.177578
     Moms & Kids                        0.227889
     Motorcycle Accessories & Parts     0.692987
     Motorcycles                        3.206498
     Music Instruments                  0.116583
...                                          ...
2021 Garden Items                       0.020064
     Health & Beauty                    0.018403
     Hobby & Collectibles               0.036992
     Houses                             1.338579
     Wedding                            0.001155

[129 rows x 1 columns]

In [16]:
table11=t11.groupby(['year','subcategory']).agg({'Lead_per_ad': pd.Series.sum})[["Lead_per_ad"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table11

                                       Lead_per_ad
year subcategory
2019 Accessories for Phones & Gadgets     0.968587
     Moms & Kids                          0.868286
     Motorcycle Accessories & Parts       0.989664
     Motorcycles                          1.525899
     Music Instruments                    0.872833
...                                            ...
2021 Garden Items                         0.210867
     Health & Beauty                      0.206186
     Hobby & Collectibles                 0.199700
     Houses                               0.363468
     Wedding                              0.190683

[129 rows x 1 columns]

In [17]:
table12=t12.groupby(['year','region']).agg({'Avg_leads': pd.Series.sum})[["Avg_leads"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table12

                   Avg_leads
year region
2019 Johor          4.608494
     Terengganu     1.325072
     Selangor      14.355160
     Sarawak        0.956004
     Sabah          2.435345
     Perlis         0.167944
     Perak          1.874425
     Penang         3.444985
     Putrajaya      0.272199
     N. Sembilan    1.530339
     Melaka         1.484475
     Labuan         0.023545
     Kuala Lumpur   8.587655
     Kelantan       2.360409
     Kedah          2.008592
     Pahang         1.222530
2020 Perak          1.820381
     Terengganu     1.218374
     Selangor      13.400806
     Sarawak        0.838659
     Sabah          2.059832
     Putrajaya      0.243704
     Perlis         0.161510
     Penang         3.389857
     Pahang         1.150700
     N. Sembilan    1.543695
     Melaka         1.357561
     Labuan         0.022445
     Kuala Lumpur   7.631281
     Kelantan       2.193712
     Kedah          1.884225
     Johor          4.208450
2021 Sarawak        0.196316
     Sabah          0.505657
     Putrajaya      0.057078
     Perlis         0.034166
     Perak          0.444373
     Penang         0.839398
     Pahang         0.252814
     Labuan         0.005635
     Melaka         0.312563
     Selangor       3.313828
     Kuala Lumpur   1.730749
     Kelantan       0.475994
     Kedah          0.443099
     Johor          0.953285
     N. Sembilan    0.384179
     Terengganu     0.268503

In [18]:
table13=t13.groupby(['year','region']).agg({'Lead_per_ad': pd.Series.sum})[["Lead_per_ad"]].apply(lambda x: 100*x/x.sum()).sort_values(by="year", ascending=True)
table13

                   Lead_per_ad
year region
2019 Johor            2.769686
     Terengganu       2.804663
     Selangor         2.800374
     Sarawak          2.438479
     Sabah            2.760241
     Perlis           2.613546
     Perak            2.772156
     Penang           2.798755
     Putrajaya        2.716826
     N. Sembilan      2.797667
     Melaka           2.857694
     Labuan           2.417467
     Kuala Lumpur     2.918641
     Kelantan         2.911056
     Kedah            2.863276
     Pahang           2.858792
2020 Perak            2.811916
     Terengganu       2.889977
     Selangor         2.835786
     Sarawak          2.370455
     Sabah            2.660529
     Putrajaya        2.798512
     Perlis           2.747669
     Penang           2.795850
     Pahang           2.939939
     N. Sembilan      2.899129
     Melaka           2.843825
     Labuan           2.369277
     Kuala Lumpur     2.917054
     Kelantan         2.954642
     Kedah            2.871318
     Johor            2.790654
2021 Sarawak          0.600271
     Sabah            0.697754
     Putrajaya        0.694380
     Perlis           0.680272
     Perak            0.728574
     Penang           0.719602
     Pahang           0.745253
     Labuan           0.643524
     Melaka           0.722616
     Selangor         0.745946
     Kuala Lumpur     0.736959
     Kelantan         0.749471
     Kedah            0.740641
     Johor            0.702260
     N. Sembilan      0.762630
     Terengganu       0.733995